PythonEquivalent/model/__pycache__/
PythonEquivalent/functions/__pycache__/
PythonEquivalent/tests/__pycache__/test_linear_reservoir.cpython-310.pyc
PythonEquivalent/tests/__pycache__/test_nonlinear_drift.cpython-310.pyc
PythonEquivalent/Data/ExpDecay/stn_1_0.5.csv
PythonEquivalent/Data/ExpDecay/stn_1_0.5.pdf
PythonEquivalent/Data/ExpDecay/stn_1_1.csv
PythonEquivalent/Data/ExpDecay/stn_1_1.pdf
PythonEquivalent/Data/ExpDecay/stn_1_2.csv
PythonEquivalent/Data/ExpDecay/stn_1_2.pdf
PythonEquivalent/Data/ExpDecay/stn_2_1.0.csv
PythonEquivalent/Data/ExpDecay/stn_2_1.0.pdf
PythonEquivalent/Data/ExpDecay/stn_2_2.csv
PythonEquivalent/Data/ExpDecay/stn_2_2.pdf
PythonEquivalent/Data/ExpDecay/stn_2_4.csv
PythonEquivalent/Data/ExpDecay/stn_2_4.pdf
PythonEquivalent/Data/ExpDecay/stn_3_1.5.csv
PythonEquivalent/Data/ExpDecay/stn_3_1.5.pdf
PythonEquivalent/Data/ExpDecay/stn_3_3.csv
PythonEquivalent/Data/ExpDecay/stn_3_3.pdf
PythonEquivalent/Data/ExpDecay/stn_3_6.csv
PythonEquivalent/Data/ExpDecay/stn_3_6.pdf
PythonEquivalent/Data/ExpDecay/stn_4_2.0.csv
PythonEquivalent/Data/ExpDecay/stn_4_2.0.pdf
PythonEquivalent/Data/ExpDecay/stn_4_4.csv
PythonEquivalent/Data/ExpDecay/stn_4_4.pdf
PythonEquivalent/Data/ExpDecay/stn_4_8.csv
PythonEquivalent/Data/ExpDecay/stn_4_8.pdf
PythonEquivalent/Data/ExpDecay/stn_5_2.5.csv
PythonEquivalent/Data/ExpDecay/stn_5_2.5.pdf
PythonEquivalent/Data/ExpDecay/stn_5_5.csv
PythonEquivalent/Data/ExpDecay/stn_5_5.pdf
PythonEquivalent/Data/ExpDecay/stn_5_10.csv
PythonEquivalent/Data/ExpDecay/stn_5_10.pdf
PythonEquivalent/Data/RealPrecip/stn_1_0.5.csv
PythonEquivalent/Data/RealPrecip/stn_1_0.5.pdf
PythonEquivalent/Data/RealPrecip/stn_1_1.csv
PythonEquivalent/Data/RealPrecip/stn_1_1.pdf
PythonEquivalent/Data/RealPrecip/stn_1_2.csv
PythonEquivalent/Data/RealPrecip/stn_1_2.pdf
PythonEquivalent/Data/RealPrecip/stn_2_1.0.csv
PythonEquivalent/Data/RealPrecip/stn_2_1.0.pdf
PythonEquivalent/Data/RealPrecip/stn_2_2.csv
PythonEquivalent/Data/RealPrecip/stn_2_2.pdf
PythonEquivalent/Data/RealPrecip/stn_2_4.csv
PythonEquivalent/Data/RealPrecip/stn_2_4.pdf
PythonEquivalent/Data/RealPrecip/stn_3_1.5.csv
PythonEquivalent/Data/RealPrecip/stn_3_1.5.pdf
PythonEquivalent/Data/RealPrecip/stn_3_3.csv
PythonEquivalent/Data/RealPrecip/stn_3_3.pdf
PythonEquivalent/Data/RealPrecip/stn_3_6.csv
PythonEquivalent/Data/RealPrecip/stn_3_6.pdf
PythonEquivalent/Data/RealPrecip/stn_4_2.0.csv
PythonEquivalent/Data/RealPrecip/stn_4_2.0.pdf
PythonEquivalent/Data/RealPrecip/stn_4_4.csv
PythonEquivalent/Data/RealPrecip/stn_4_4.pdf
PythonEquivalent/Data/RealPrecip/stn_4_8.csv
PythonEquivalent/Data/RealPrecip/stn_4_8.pdf
PythonEquivalent/Data/RealPrecip/stn_5_2.5.csv
PythonEquivalent/Data/RealPrecip/stn_5_2.5.pdf
PythonEquivalent/Data/RealPrecip/stn_5_5.csv
PythonEquivalent/Data/RealPrecip/stn_5_5.pdf
PythonEquivalent/Data/RealPrecip/stn_5_10.csv
PythonEquivalent/Data/RealPrecip/stn_5_10.pdf
PythonEquivalent/Data/WhiteNoise/stn_1_0.5.csv
PythonEquivalent/Data/WhiteNoise/stn_1_0.5.pdf
PythonEquivalent/Data/WhiteNoise/stn_1_1.csv
PythonEquivalent/Data/WhiteNoise/stn_1_1.pdf
PythonEquivalent/Data/WhiteNoise/stn_1_2.csv
PythonEquivalent/Data/WhiteNoise/stn_1_2.pdf
PythonEquivalent/Data/WhiteNoise/stn_2_1.0.csv
PythonEquivalent/Data/WhiteNoise/stn_2_1.0.pdf
PythonEquivalent/Data/WhiteNoise/stn_2_2.csv
PythonEquivalent/Data/WhiteNoise/stn_2_2.pdf
PythonEquivalent/Data/WhiteNoise/stn_2_4.csv
PythonEquivalent/Data/WhiteNoise/stn_2_4.pdf
PythonEquivalent/Data/WhiteNoise/stn_3_1.5.csv
PythonEquivalent/Data/WhiteNoise/stn_3_1.5.pdf
PythonEquivalent/Data/WhiteNoise/stn_3_3.csv
PythonEquivalent/Data/WhiteNoise/stn_3_3.pdf
PythonEquivalent/Data/WhiteNoise/stn_3_6.csv
PythonEquivalent/Data/WhiteNoise/stn_3_6.pdf
PythonEquivalent/Data/WhiteNoise/stn_4_2.0.csv
PythonEquivalent/Data/WhiteNoise/stn_4_2.0.pdf
PythonEquivalent/Data/WhiteNoise/stn_4_4.csv
PythonEquivalent/Data/WhiteNoise/stn_4_4.pdf
PythonEquivalent/Data/WhiteNoise/stn_4_8.csv
PythonEquivalent/Data/WhiteNoise/stn_4_8.pdf
PythonEquivalent/Data/WhiteNoise/stn_5_2.5.csv
PythonEquivalent/Data/WhiteNoise/stn_5_2.5.pdf
PythonEquivalent/Data/WhiteNoise/stn_5_5.csv
PythonEquivalent/Data/WhiteNoise/stn_5_5.pdf
PythonEquivalent/Data/WhiteNoise/stn_5_10.csv
PythonEquivalent/Data/WhiteNoise/stn_5_10.pdf
PythonEquivalent/Data/ExpDecay/stn_1_3.csv
PythonEquivalent/Data/ExpDecay/stn_1_3.pdf
PythonEquivalent/Data/ExpDecay/stn_1_4.csv
PythonEquivalent/Data/ExpDecay/stn_1_4.pdf
PythonEquivalent/Data/ExpDecay/stn_1_5.csv
PythonEquivalent/Data/ExpDecay/stn_1_5.pdf
PythonEquivalent/Data/ExpDecay/stn_1_6.csv
PythonEquivalent/Data/ExpDecay/stn_1_6.pdf
PythonEquivalent/Data/ExpDecay/stn_2_6.csv
PythonEquivalent/Data/ExpDecay/stn_2_6.pdf
PythonEquivalent/Data/ExpDecay/stn_2_8.csv
PythonEquivalent/Data/ExpDecay/stn_2_8.pdf
PythonEquivalent/Data/ExpDecay/stn_2_10.csv
PythonEquivalent/Data/ExpDecay/stn_2_10.pdf
PythonEquivalent/Data/ExpDecay/stn_2_12.csv
PythonEquivalent/Data/ExpDecay/stn_2_12.pdf
PythonEquivalent/Data/ExpDecay/stn_3_9.csv
PythonEquivalent/Data/ExpDecay/stn_3_9.pdf
PythonEquivalent/Data/ExpDecay/stn_3_12.csv
PythonEquivalent/Data/ExpDecay/stn_3_12.pdf
PythonEquivalent/Data/ExpDecay/stn_3_15.csv
PythonEquivalent/Data/ExpDecay/stn_3_15.pdf
PythonEquivalent/Data/ExpDecay/stn_3_18.csv
PythonEquivalent/Data/ExpDecay/stn_3_18.pdf
PythonEquivalent/Data/ExpDecay/stn_4_12.csv
PythonEquivalent/Data/ExpDecay/stn_4_12.pdf
PythonEquivalent/Data/ExpDecay/stn_4_16.csv
PythonEquivalent/Data/ExpDecay/stn_4_16.pdf
PythonEquivalent/Data/ExpDecay/stn_4_20.csv
PythonEquivalent/Data/ExpDecay/stn_4_20.pdf
PythonEquivalent/Data/ExpDecay/stn_4_24.csv
PythonEquivalent/Data/ExpDecay/stn_4_24.pdf
PythonEquivalent/Data/ExpDecay/stn_5_15.csv
PythonEquivalent/Data/ExpDecay/stn_5_15.pdf
PythonEquivalent/Data/ExpDecay/stn_5_20.csv
PythonEquivalent/Data/ExpDecay/stn_5_20.pdf
PythonEquivalent/Data/ExpDecay/stn_5_25.csv
PythonEquivalent/Data/ExpDecay/stn_5_25.pdf
PythonEquivalent/Data/ExpDecay/stn_5_30.csv
PythonEquivalent/Data/ExpDecay/stn_5_30.pdf
PythonEquivalent/Data/RealPrecip/stn_1_3.csv
PythonEquivalent/Data/RealPrecip/stn_1_3.pdf
PythonEquivalent/Data/RealPrecip/stn_1_4.csv
PythonEquivalent/Data/RealPrecip/stn_1_4.pdf
PythonEquivalent/Data/RealPrecip/stn_1_5.csv
PythonEquivalent/Data/RealPrecip/stn_1_5.pdf
PythonEquivalent/Data/RealPrecip/stn_1_6.csv
PythonEquivalent/Data/RealPrecip/stn_1_6.pdf
PythonEquivalent/Data/RealPrecip/stn_2_6.csv
PythonEquivalent/Data/RealPrecip/stn_2_6.pdf
PythonEquivalent/Data/RealPrecip/stn_2_8.csv
PythonEquivalent/Data/RealPrecip/stn_2_8.pdf
PythonEquivalent/Data/RealPrecip/stn_2_10.csv
PythonEquivalent/Data/RealPrecip/stn_2_10.pdf
PythonEquivalent/Data/RealPrecip/stn_2_12.csv
PythonEquivalent/Data/RealPrecip/stn_2_12.pdf
PythonEquivalent/Data/RealPrecip/stn_3_9.csv
PythonEquivalent/Data/RealPrecip/stn_3_9.pdf
PythonEquivalent/Data/RealPrecip/stn_3_12.csv
PythonEquivalent/Data/RealPrecip/stn_3_12.pdf
PythonEquivalent/Data/RealPrecip/stn_3_15.csv
PythonEquivalent/Data/RealPrecip/stn_3_15.pdf
PythonEquivalent/Data/RealPrecip/stn_3_18.csv
PythonEquivalent/Data/RealPrecip/stn_3_18.pdf
PythonEquivalent/Data/RealPrecip/stn_4_12.csv
PythonEquivalent/Data/RealPrecip/stn_4_12.pdf
PythonEquivalent/Data/RealPrecip/stn_4_16.csv
PythonEquivalent/Data/RealPrecip/stn_4_16.pdf
PythonEquivalent/Data/RealPrecip/stn_4_20.csv
PythonEquivalent/Data/RealPrecip/stn_4_20.pdf
PythonEquivalent/Data/RealPrecip/stn_4_24.csv
PythonEquivalent/Data/RealPrecip/stn_4_24.pdf
PythonEquivalent/Data/RealPrecip/stn_5_15.csv
PythonEquivalent/Data/RealPrecip/stn_5_15.pdf
PythonEquivalent/Data/RealPrecip/stn_5_20.csv
PythonEquivalent/Data/RealPrecip/stn_5_20.pdf
PythonEquivalent/Data/RealPrecip/stn_5_25.csv
PythonEquivalent/Data/RealPrecip/stn_5_25.pdf
PythonEquivalent/Data/RealPrecip/stn_5_30.csv
PythonEquivalent/Data/RealPrecip/stn_5_30.pdf
PythonEquivalent/Data/WhiteNoise/stn_1_3.csv
PythonEquivalent/Data/WhiteNoise/stn_1_3.pdf
PythonEquivalent/Data/WhiteNoise/stn_1_4.csv
PythonEquivalent/Data/WhiteNoise/stn_1_4.pdf
PythonEquivalent/Data/WhiteNoise/stn_1_5.csv
PythonEquivalent/Data/WhiteNoise/stn_1_5.pdf
PythonEquivalent/Data/WhiteNoise/stn_1_6.csv
PythonEquivalent/Data/WhiteNoise/stn_1_6.pdf
PythonEquivalent/Data/WhiteNoise/stn_2_6.csv
PythonEquivalent/Data/WhiteNoise/stn_2_6.pdf
PythonEquivalent/Data/WhiteNoise/stn_2_8.csv
PythonEquivalent/Data/WhiteNoise/stn_2_8.pdf
PythonEquivalent/Data/WhiteNoise/stn_2_10.csv
PythonEquivalent/Data/WhiteNoise/stn_2_10.pdf
PythonEquivalent/Data/WhiteNoise/stn_2_12.csv
PythonEquivalent/Data/WhiteNoise/stn_2_12.pdf
PythonEquivalent/Data/WhiteNoise/stn_3_9.csv
PythonEquivalent/Data/WhiteNoise/stn_3_9.pdf
PythonEquivalent/Data/WhiteNoise/stn_3_12.csv
PythonEquivalent/Data/WhiteNoise/stn_3_12.pdf
PythonEquivalent/Data/WhiteNoise/stn_3_15.csv
PythonEquivalent/Data/WhiteNoise/stn_3_15.pdf
PythonEquivalent/Data/WhiteNoise/stn_3_18.csv
PythonEquivalent/Data/WhiteNoise/stn_3_18.pdf
PythonEquivalent/Data/WhiteNoise/stn_4_12.csv
PythonEquivalent/Data/WhiteNoise/stn_4_12.pdf
PythonEquivalent/Data/WhiteNoise/stn_4_16.csv
PythonEquivalent/Data/WhiteNoise/stn_4_16.pdf
PythonEquivalent/Data/WhiteNoise/stn_4_20.csv
PythonEquivalent/Data/WhiteNoise/stn_4_20.pdf
PythonEquivalent/Data/WhiteNoise/stn_4_24.csv
PythonEquivalent/Data/WhiteNoise/stn_4_24.pdf
PythonEquivalent/Data/WhiteNoise/stn_5_15.csv
PythonEquivalent/Data/WhiteNoise/stn_5_15.pdf
PythonEquivalent/Data/WhiteNoise/stn_5_20.csv
PythonEquivalent/Data/WhiteNoise/stn_5_20.pdf
PythonEquivalent/Data/WhiteNoise/stn_5_25.csv
PythonEquivalent/Data/WhiteNoise/stn_5_25.pdf
PythonEquivalent/Data/WhiteNoise/stn_5_30.csv
PythonEquivalent/Data/WhiteNoise/stn_5_30.pdf
PythonEquivalent/test_white_noises/__pycache__/data_white_noises.cpython-310.pyc
.gitignore
PythonEquivalent/tests_linear_reservoir/__pycache__/data_white_noises.cpython-310.pyc
code/pMCMC_paraEst/code/paraEst_HnMM/fig_acf_bayes_Np20MC10k_thetaV1evenObs_Gauss.eps
code/pMCMC_paraEst/code/paraEst_HnMM/fig_chain_bayes_Np20MC10k_thetaV1evenObs_Gauss.eps
code/pMCMC_paraEst/code/paraEst_HnMM/fig_cor_state_bayes_Np20MC10k_thetaV1evenObs_Gauss.eps
code/pMCMC_paraEst/code/paraEst_HnMM/fig_jump_bayes_Np20MC10k_thetaV1evenObs_Gauss.eps
code/pMCMC_paraEst/code/paraEst_HnMM/fig_rate_bayes_Np20MC10k_thetaV1evenObs_Gauss.eps
code/pMCMC_paraEst/code/paraEst_HnMM/fig_scatter_bayes_Np20MC10k_thetaV1evenObs_Gauss.eps
code/pMCMC_paraEst/code/paraEst_HnMM/fig_state_bayes_Np20MC10k_thetaV1evenObs_Gauss.eps
code/pMCMC_paraEst/code/paraEst_HnMM/fig_theta_bayes_Np20MC10k_thetaV1evenObs_Gauss.eps
code/pMCMC_paraEst/code/paraEst_HnMM/fig_trajEns_bayes_Np20MC10k_thetaV1evenObs_Gauss.eps
code/pMCMC_paraEst/code/paraEst_HnMM/fig_var_bayes_Np20MC10k_thetaV1evenObs_Gauss.eps
code/pMCMC_paraEst/code/paraEst_HnMM/Obsdata_bayes_Np20MC10k_thetaV1evenObs_Gauss.mat
code/pMCMC_paraEst/code/paraEst_HnMM/samples_bayes_Np20MC10k_thetaV1evenObs_Gauss.mat
PythonEquivalent/Data/ExpDecay/stn_1.5_0.75.csv
PythonEquivalent/Data/ExpDecay/stn_1.5_0.75.pdf
PythonEquivalent/Data/ExpDecay/stn_1.5_1.5.csv
PythonEquivalent/Data/ExpDecay/stn_1.5_1.5.pdf
PythonEquivalent/Data/ExpDecay/stn_1.5_3.0.csv
PythonEquivalent/Data/ExpDecay/stn_1.5_3.0.pdf
PythonEquivalent/Data/ExpDecay/stn_1.5_4.5.csv
PythonEquivalent/Data/ExpDecay/stn_1.5_4.5.pdf
PythonEquivalent/Data/ExpDecay/stn_1.5_6.0.csv
PythonEquivalent/Data/ExpDecay/stn_1.5_6.0.pdf
PythonEquivalent/Data/ExpDecay/stn_1.5_7.5.csv
PythonEquivalent/Data/ExpDecay/stn_1.5_7.5.pdf
PythonEquivalent/Data/ExpDecay/stn_1.5_9.0.csv
PythonEquivalent/Data/ExpDecay/stn_1.5_9.0.pdf
PythonEquivalent/Data/ExpDecay/stn_2.5_1.25.csv
PythonEquivalent/Data/ExpDecay/stn_2.5_1.25.pdf
PythonEquivalent/Data/ExpDecay/stn_2.5_2.5.csv
PythonEquivalent/Data/ExpDecay/stn_2.5_2.5.pdf
PythonEquivalent/Data/ExpDecay/stn_2.5_5.0.csv
PythonEquivalent/Data/ExpDecay/stn_2.5_5.0.pdf
PythonEquivalent/Data/ExpDecay/stn_2.5_7.5.csv
PythonEquivalent/Data/ExpDecay/stn_2.5_7.5.pdf
PythonEquivalent/Data/ExpDecay/stn_2.5_10.0.csv
PythonEquivalent/Data/ExpDecay/stn_2.5_10.0.pdf
PythonEquivalent/Data/ExpDecay/stn_2.5_12.5.csv
PythonEquivalent/Data/ExpDecay/stn_2.5_12.5.pdf
PythonEquivalent/Data/ExpDecay/stn_2.5_15.0.csv
PythonEquivalent/Data/ExpDecay/stn_2.5_15.0.pdf
PythonEquivalent/Data/ExpDecay/stn_3.5_1.75.csv
PythonEquivalent/Data/ExpDecay/stn_3.5_1.75.pdf
PythonEquivalent/Data/ExpDecay/stn_3.5_3.5.csv
PythonEquivalent/Data/ExpDecay/stn_3.5_3.5.pdf
PythonEquivalent/Data/ExpDecay/stn_3.5_7.0.csv
PythonEquivalent/Data/ExpDecay/stn_3.5_7.0.pdf
PythonEquivalent/Data/ExpDecay/stn_3.5_10.5.csv
PythonEquivalent/Data/ExpDecay/stn_3.5_10.5.pdf
PythonEquivalent/Data/ExpDecay/stn_3.5_14.0.csv
PythonEquivalent/Data/ExpDecay/stn_3.5_14.0.pdf
PythonEquivalent/Data/ExpDecay/stn_3.5_17.5.csv
PythonEquivalent/Data/ExpDecay/stn_3.5_17.5.pdf
PythonEquivalent/Data/ExpDecay/stn_3.5_21.0.csv
PythonEquivalent/Data/ExpDecay/stn_3.5_21.0.pdf
PythonEquivalent/Data/ExpDecay/stn_4.5_2.25.csv
PythonEquivalent/Data/ExpDecay/stn_4.5_2.25.pdf
PythonEquivalent/Data/ExpDecay/stn_4.5_4.5.csv
PythonEquivalent/Data/ExpDecay/stn_4.5_4.5.pdf
PythonEquivalent/Data/ExpDecay/stn_4.5_9.0.csv
PythonEquivalent/Data/ExpDecay/stn_4.5_9.0.pdf
PythonEquivalent/Data/ExpDecay/stn_4.5_13.5.csv
PythonEquivalent/Data/ExpDecay/stn_4.5_13.5.pdf
PythonEquivalent/Data/ExpDecay/stn_4.5_18.0.csv
PythonEquivalent/Data/ExpDecay/stn_4.5_18.0.pdf
PythonEquivalent/Data/ExpDecay/stn_4.5_22.5.csv
PythonEquivalent/Data/ExpDecay/stn_4.5_22.5.pdf
PythonEquivalent/Data/ExpDecay/stn_4.5_27.0.csv
PythonEquivalent/Data/ExpDecay/stn_4.5_27.0.pdf
PythonEquivalent/Data/RealPrecip/stn_1.5_0.75.csv
PythonEquivalent/Data/RealPrecip/stn_1.5_0.75.pdf
PythonEquivalent/Data/RealPrecip/stn_1.5_1.5.csv
PythonEquivalent/Data/RealPrecip/stn_1.5_1.5.pdf
PythonEquivalent/Data/RealPrecip/stn_1.5_3.0.csv
PythonEquivalent/Data/RealPrecip/stn_1.5_3.0.pdf
PythonEquivalent/Data/RealPrecip/stn_1.5_4.5.csv
PythonEquivalent/Data/RealPrecip/stn_1.5_4.5.pdf
PythonEquivalent/Data/RealPrecip/stn_1.5_6.0.csv
PythonEquivalent/Data/RealPrecip/stn_1.5_6.0.pdf
PythonEquivalent/Data/RealPrecip/stn_1.5_7.5.csv
PythonEquivalent/Data/RealPrecip/stn_1.5_7.5.pdf
PythonEquivalent/Data/RealPrecip/stn_1.5_9.0.csv
PythonEquivalent/Data/RealPrecip/stn_1.5_9.0.pdf
PythonEquivalent/Data/RealPrecip/stn_2.5_1.25.csv
PythonEquivalent/Data/RealPrecip/stn_2.5_1.25.pdf
PythonEquivalent/Data/RealPrecip/stn_2.5_2.5.csv
PythonEquivalent/Data/RealPrecip/stn_2.5_2.5.pdf
PythonEquivalent/Data/RealPrecip/stn_2.5_5.0.csv
PythonEquivalent/Data/RealPrecip/stn_2.5_5.0.pdf
PythonEquivalent/Data/RealPrecip/stn_2.5_7.5.csv
PythonEquivalent/Data/RealPrecip/stn_2.5_7.5.pdf
PythonEquivalent/Data/RealPrecip/stn_2.5_10.0.csv
PythonEquivalent/Data/RealPrecip/stn_2.5_10.0.pdf
PythonEquivalent/Data/RealPrecip/stn_2.5_12.5.csv
PythonEquivalent/Data/RealPrecip/stn_2.5_12.5.pdf
PythonEquivalent/Data/RealPrecip/stn_2.5_15.0.csv
PythonEquivalent/Data/RealPrecip/stn_2.5_15.0.pdf
PythonEquivalent/Data/RealPrecip/stn_3.5_1.75.csv
PythonEquivalent/Data/RealPrecip/stn_3.5_1.75.pdf
PythonEquivalent/Data/RealPrecip/stn_3.5_3.5.csv
PythonEquivalent/Data/RealPrecip/stn_3.5_3.5.pdf
PythonEquivalent/Data/RealPrecip/stn_3.5_7.0.csv
PythonEquivalent/Data/RealPrecip/stn_3.5_7.0.pdf
PythonEquivalent/Data/RealPrecip/stn_3.5_10.5.csv
PythonEquivalent/Data/RealPrecip/stn_3.5_10.5.pdf
PythonEquivalent/Data/RealPrecip/stn_3.5_14.0.csv
PythonEquivalent/Data/RealPrecip/stn_3.5_14.0.pdf
PythonEquivalent/Data/RealPrecip/stn_3.5_17.5.csv
PythonEquivalent/Data/RealPrecip/stn_3.5_17.5.pdf
PythonEquivalent/Data/RealPrecip/stn_3.5_21.0.csv
PythonEquivalent/Data/RealPrecip/stn_3.5_21.0.pdf
PythonEquivalent/Data/RealPrecip/stn_4.5_2.25.csv
PythonEquivalent/Data/RealPrecip/stn_4.5_2.25.pdf
PythonEquivalent/Data/RealPrecip/stn_4.5_4.5.csv
PythonEquivalent/Data/RealPrecip/stn_4.5_4.5.pdf
PythonEquivalent/Data/RealPrecip/stn_4.5_9.0.csv
PythonEquivalent/Data/RealPrecip/stn_4.5_9.0.pdf
PythonEquivalent/Data/RealPrecip/stn_4.5_13.5.csv
PythonEquivalent/Data/RealPrecip/stn_4.5_13.5.pdf
PythonEquivalent/Data/RealPrecip/stn_4.5_18.0.csv
PythonEquivalent/Data/RealPrecip/stn_4.5_18.0.pdf
PythonEquivalent/Data/RealPrecip/stn_4.5_22.5.csv
PythonEquivalent/Data/RealPrecip/stn_4.5_22.5.pdf
PythonEquivalent/Data/RealPrecip/stn_4.5_27.0.csv
PythonEquivalent/Data/RealPrecip/stn_4.5_27.0.pdf
PythonEquivalent/Data/WhiteNoise/stn_1.5_0.75.csv
PythonEquivalent/Data/WhiteNoise/stn_1.5_0.75.pdf
PythonEquivalent/Data/WhiteNoise/stn_1.5_1.5.csv
PythonEquivalent/Data/WhiteNoise/stn_1.5_1.5.pdf
PythonEquivalent/Data/WhiteNoise/stn_1.5_3.0.csv
PythonEquivalent/Data/WhiteNoise/stn_1.5_3.0.pdf
PythonEquivalent/Data/WhiteNoise/stn_1.5_4.5.csv
PythonEquivalent/Data/WhiteNoise/stn_1.5_4.5.pdf
PythonEquivalent/Data/WhiteNoise/stn_1.5_6.0.csv
PythonEquivalent/Data/WhiteNoise/stn_1.5_6.0.pdf
PythonEquivalent/Data/WhiteNoise/stn_1.5_7.5.csv
PythonEquivalent/Data/WhiteNoise/stn_1.5_7.5.pdf
PythonEquivalent/Data/WhiteNoise/stn_1.5_9.0.csv
PythonEquivalent/Data/WhiteNoise/stn_1.5_9.0.pdf
PythonEquivalent/Data/WhiteNoise/stn_2.5_1.25.csv
PythonEquivalent/Data/WhiteNoise/stn_2.5_1.25.pdf
PythonEquivalent/Data/WhiteNoise/stn_2.5_2.5.csv
PythonEquivalent/Data/WhiteNoise/stn_2.5_2.5.pdf
PythonEquivalent/Data/WhiteNoise/stn_2.5_5.0.csv
PythonEquivalent/Data/WhiteNoise/stn_2.5_5.0.pdf
PythonEquivalent/Data/WhiteNoise/stn_2.5_7.5.csv
PythonEquivalent/Data/WhiteNoise/stn_2.5_7.5.pdf
PythonEquivalent/Data/WhiteNoise/stn_2.5_10.0.csv
PythonEquivalent/Data/WhiteNoise/stn_2.5_10.0.pdf
PythonEquivalent/Data/WhiteNoise/stn_2.5_12.5.csv
PythonEquivalent/Data/WhiteNoise/stn_2.5_12.5.pdf
PythonEquivalent/Data/WhiteNoise/stn_2.5_15.0.csv
PythonEquivalent/Data/WhiteNoise/stn_2.5_15.0.pdf
PythonEquivalent/Data/WhiteNoise/stn_3.5_1.75.csv
PythonEquivalent/Data/WhiteNoise/stn_3.5_1.75.pdf
PythonEquivalent/Data/WhiteNoise/stn_3.5_3.5.csv
PythonEquivalent/Data/WhiteNoise/stn_3.5_3.5.pdf
PythonEquivalent/Data/WhiteNoise/stn_3.5_7.0.csv
PythonEquivalent/Data/WhiteNoise/stn_3.5_7.0.pdf
PythonEquivalent/Data/WhiteNoise/stn_3.5_10.5.csv
PythonEquivalent/Data/WhiteNoise/stn_3.5_10.5.pdf
PythonEquivalent/Data/WhiteNoise/stn_3.5_14.0.csv
PythonEquivalent/Data/WhiteNoise/stn_3.5_14.0.pdf
PythonEquivalent/Data/WhiteNoise/stn_3.5_17.5.csv
PythonEquivalent/Data/WhiteNoise/stn_3.5_17.5.pdf
PythonEquivalent/Data/WhiteNoise/stn_3.5_21.0.csv
PythonEquivalent/Data/WhiteNoise/stn_3.5_21.0.pdf
PythonEquivalent/Data/WhiteNoise/stn_4.5_2.25.csv
PythonEquivalent/Data/WhiteNoise/stn_4.5_2.25.pdf
PythonEquivalent/Data/WhiteNoise/stn_4.5_4.5.csv
PythonEquivalent/Data/WhiteNoise/stn_4.5_4.5.pdf
PythonEquivalent/Data/WhiteNoise/stn_4.5_9.0.csv
PythonEquivalent/Data/WhiteNoise/stn_4.5_9.0.pdf
PythonEquivalent/Data/WhiteNoise/stn_4.5_13.5.csv
PythonEquivalent/Data/WhiteNoise/stn_4.5_13.5.pdf
PythonEquivalent/Data/WhiteNoise/stn_4.5_18.0.csv
PythonEquivalent/Data/WhiteNoise/stn_4.5_18.0.pdf
PythonEquivalent/Data/WhiteNoise/stn_4.5_22.5.csv
PythonEquivalent/Data/WhiteNoise/stn_4.5_22.5.pdf
PythonEquivalent/Data/WhiteNoise/stn_4.5_27.0.csv
PythonEquivalent/Data/WhiteNoise/stn_4.5_27.0.pdf
