PythonEquivalent/model/__pycache__/
PythonEquivalent/functions/__pycache__/
PythonEquivalent/Data/ExpDecay/stn_1_0.5.csv
PythonEquivalent/Data/ExpDecay/stn_1_0.5.pdf
PythonEquivalent/Data/ExpDecay/stn_1_1.csv
PythonEquivalent/Data/ExpDecay/stn_1_1.pdf
PythonEquivalent/Data/ExpDecay/stn_1_2.csv
PythonEquivalent/Data/ExpDecay/stn_1_2.pdf
PythonEquivalent/Data/ExpDecay/stn_1_3.csv
PythonEquivalent/Data/ExpDecay/stn_1_3.pdf
PythonEquivalent/Data/ExpDecay/stn_1_4.csv
PythonEquivalent/Data/ExpDecay/stn_1_4.pdf
PythonEquivalent/Data/ExpDecay/stn_1_5.csv
PythonEquivalent/Data/ExpDecay/stn_1_5.pdf
PythonEquivalent/Data/ExpDecay/stn_1_6.csv
PythonEquivalent/Data/ExpDecay/stn_1_6.pdf
PythonEquivalent/Data/ExpDecay/stn_2_1.0.csv
PythonEquivalent/Data/ExpDecay/stn_2_1.0.pdf
PythonEquivalent/Data/ExpDecay/stn_2_2.csv
PythonEquivalent/Data/ExpDecay/stn_2_2.pdf
PythonEquivalent/Data/ExpDecay/stn_2_4.csv
PythonEquivalent/Data/ExpDecay/stn_2_4.pdf
PythonEquivalent/Data/ExpDecay/stn_2_6.csv
PythonEquivalent/Data/ExpDecay/stn_2_6.pdf
PythonEquivalent/Data/ExpDecay/stn_2_8.csv
PythonEquivalent/Data/ExpDecay/stn_2_8.pdf
PythonEquivalent/Data/ExpDecay/stn_2_10.csv
PythonEquivalent/Data/ExpDecay/stn_2_10.pdf
PythonEquivalent/Data/ExpDecay/stn_2_12.csv
PythonEquivalent/Data/ExpDecay/stn_2_12.pdf
PythonEquivalent/Data/ExpDecay/stn_3_1.5.csv
PythonEquivalent/Data/ExpDecay/stn_3_1.5.pdf
PythonEquivalent/Data/ExpDecay/stn_3_3.csv
PythonEquivalent/Data/ExpDecay/stn_3_3.pdf
PythonEquivalent/Data/ExpDecay/stn_3_6.csv
PythonEquivalent/Data/ExpDecay/stn_3_6.pdf
PythonEquivalent/Data/ExpDecay/stn_3_9.csv
PythonEquivalent/Data/ExpDecay/stn_3_9.pdf
PythonEquivalent/Data/ExpDecay/stn_3_12.csv
PythonEquivalent/Data/ExpDecay/stn_3_12.pdf
PythonEquivalent/Data/ExpDecay/stn_3_15.csv
PythonEquivalent/Data/ExpDecay/stn_3_15.pdf
PythonEquivalent/Data/ExpDecay/stn_3_18.csv
PythonEquivalent/Data/ExpDecay/stn_3_18.pdf
PythonEquivalent/Data/ExpDecay/stn_4_2.0.csv
PythonEquivalent/Data/ExpDecay/stn_4_2.0.pdf
PythonEquivalent/Data/ExpDecay/stn_4_4.csv
PythonEquivalent/Data/ExpDecay/stn_4_4.pdf
PythonEquivalent/Data/ExpDecay/stn_4_8.csv
PythonEquivalent/Data/ExpDecay/stn_4_8.pdf
PythonEquivalent/Data/ExpDecay/stn_4_12.csv
PythonEquivalent/Data/ExpDecay/stn_4_12.pdf
PythonEquivalent/Data/ExpDecay/stn_4_16.csv
PythonEquivalent/Data/ExpDecay/stn_4_16.pdf
PythonEquivalent/Data/ExpDecay/stn_4_20.csv
PythonEquivalent/Data/ExpDecay/stn_4_20.pdf
PythonEquivalent/Data/ExpDecay/stn_4_24.csv
PythonEquivalent/Data/ExpDecay/stn_4_24.pdf
PythonEquivalent/Data/ExpDecay/stn_5_2.5.csv
PythonEquivalent/Data/ExpDecay/stn_5_2.5.pdf
PythonEquivalent/Data/ExpDecay/stn_5_5.csv
PythonEquivalent/Data/ExpDecay/stn_5_5.pdf
PythonEquivalent/Data/ExpDecay/stn_5_10.csv
PythonEquivalent/Data/ExpDecay/stn_5_10.pdf
PythonEquivalent/Data/ExpDecay/stn_5_15.csv
PythonEquivalent/Data/ExpDecay/stn_5_15.pdf
PythonEquivalent/Data/ExpDecay/stn_5_20.csv
PythonEquivalent/Data/ExpDecay/stn_5_20.pdf
PythonEquivalent/Data/ExpDecay/stn_5_25.csv
PythonEquivalent/Data/ExpDecay/stn_5_25.pdf
PythonEquivalent/Data/ExpDecay/stn_5_30.csv
PythonEquivalent/Data/ExpDecay/stn_5_30.pdf
PythonEquivalent/Data/RealPrecip/stn_1_0.5.csv
PythonEquivalent/Data/RealPrecip/stn_1_0.5.pdf
PythonEquivalent/Data/RealPrecip/stn_1_1.csv
PythonEquivalent/Data/RealPrecip/stn_1_1.pdf
PythonEquivalent/Data/RealPrecip/stn_1_2.csv
PythonEquivalent/Data/RealPrecip/stn_1_2.pdf
PythonEquivalent/Data/RealPrecip/stn_1_3.csv
PythonEquivalent/Data/RealPrecip/stn_1_3.pdf
PythonEquivalent/Data/RealPrecip/stn_1_4.csv
PythonEquivalent/Data/RealPrecip/stn_1_4.pdf
PythonEquivalent/Data/RealPrecip/stn_1_5.csv
PythonEquivalent/Data/RealPrecip/stn_1_5.pdf
PythonEquivalent/Data/RealPrecip/stn_1_6.csv
PythonEquivalent/Data/RealPrecip/stn_1_6.pdf
PythonEquivalent/Data/RealPrecip/stn_2_1.0.csv
PythonEquivalent/Data/RealPrecip/stn_2_1.0.pdf
PythonEquivalent/Data/RealPrecip/stn_2_2.csv
PythonEquivalent/Data/RealPrecip/stn_2_2.pdf
PythonEquivalent/Data/RealPrecip/stn_2_4.csv
PythonEquivalent/Data/RealPrecip/stn_2_4.pdf
PythonEquivalent/Data/RealPrecip/stn_2_6.csv
PythonEquivalent/Data/RealPrecip/stn_2_6.pdf
PythonEquivalent/Data/RealPrecip/stn_2_8.csv
PythonEquivalent/Data/RealPrecip/stn_2_8.pdf
PythonEquivalent/Data/RealPrecip/stn_2_10.csv
PythonEquivalent/Data/RealPrecip/stn_2_10.pdf
PythonEquivalent/Data/RealPrecip/stn_2_12.csv
PythonEquivalent/Data/RealPrecip/stn_2_12.pdf
PythonEquivalent/Data/RealPrecip/stn_3_1.5.csv
PythonEquivalent/Data/RealPrecip/stn_3_1.5.pdf
PythonEquivalent/Data/RealPrecip/stn_3_3.csv
PythonEquivalent/Data/RealPrecip/stn_3_3.pdf
PythonEquivalent/Data/RealPrecip/stn_3_6.csv
PythonEquivalent/Data/RealPrecip/stn_3_6.pdf
PythonEquivalent/Data/RealPrecip/stn_3_9.csv
PythonEquivalent/Data/RealPrecip/stn_3_9.pdf
PythonEquivalent/Data/RealPrecip/stn_3_12.csv
PythonEquivalent/Data/RealPrecip/stn_3_12.pdf
PythonEquivalent/Data/RealPrecip/stn_3_15.csv
PythonEquivalent/Data/RealPrecip/stn_3_15.pdf
PythonEquivalent/Data/RealPrecip/stn_3_18.csv
PythonEquivalent/Data/RealPrecip/stn_3_18.pdf
PythonEquivalent/Data/RealPrecip/stn_4_2.0.csv
PythonEquivalent/Data/RealPrecip/stn_4_2.0.pdf
PythonEquivalent/Data/RealPrecip/stn_4_4.csv
PythonEquivalent/Data/RealPrecip/stn_4_4.pdf
PythonEquivalent/Data/RealPrecip/stn_4_8.csv
PythonEquivalent/Data/RealPrecip/stn_4_8.pdf
PythonEquivalent/Data/RealPrecip/stn_4_12.csv
PythonEquivalent/Data/RealPrecip/stn_4_12.pdf
PythonEquivalent/Data/RealPrecip/stn_4_16.csv
PythonEquivalent/Data/RealPrecip/stn_4_16.pdf
PythonEquivalent/Data/RealPrecip/stn_4_20.csv
PythonEquivalent/Data/RealPrecip/stn_4_20.pdf
PythonEquivalent/Data/RealPrecip/stn_4_24.csv
PythonEquivalent/Data/RealPrecip/stn_4_24.pdf
PythonEquivalent/Data/RealPrecip/stn_5_2.5.csv
PythonEquivalent/Data/RealPrecip/stn_5_2.5.pdf
PythonEquivalent/Data/RealPrecip/stn_5_5.csv
PythonEquivalent/Data/RealPrecip/stn_5_5.pdf
PythonEquivalent/Data/RealPrecip/stn_5_10.csv
PythonEquivalent/Data/RealPrecip/stn_5_10.pdf
PythonEquivalent/Data/RealPrecip/stn_5_15.csv
PythonEquivalent/Data/RealPrecip/stn_5_15.pdf
PythonEquivalent/Data/RealPrecip/stn_5_20.csv
PythonEquivalent/Data/RealPrecip/stn_5_20.pdf
PythonEquivalent/Data/RealPrecip/stn_5_25.csv
PythonEquivalent/Data/RealPrecip/stn_5_25.pdf
PythonEquivalent/Data/RealPrecip/stn_5_30.csv
PythonEquivalent/Data/RealPrecip/stn_5_30.pdf
PythonEquivalent/Data/WhiteNoise/stn_1_0.5.csv
PythonEquivalent/Data/WhiteNoise/stn_1_0.5.pdf
PythonEquivalent/Data/WhiteNoise/stn_1_1.csv
PythonEquivalent/Data/WhiteNoise/stn_1_1.pdf
PythonEquivalent/Data/WhiteNoise/stn_1_2.csv
PythonEquivalent/Data/WhiteNoise/stn_1_2.pdf
PythonEquivalent/Data/WhiteNoise/stn_1_3.csv
PythonEquivalent/Data/WhiteNoise/stn_1_3.pdf
PythonEquivalent/Data/WhiteNoise/stn_1_4.csv
PythonEquivalent/Data/WhiteNoise/stn_1_4.pdf
PythonEquivalent/Data/WhiteNoise/stn_1_5.csv
PythonEquivalent/Data/WhiteNoise/stn_1_5.pdf
PythonEquivalent/Data/WhiteNoise/stn_1_6.csv
PythonEquivalent/Data/WhiteNoise/stn_1_6.pdf
PythonEquivalent/Data/WhiteNoise/stn_2_1.0.csv
PythonEquivalent/Data/WhiteNoise/stn_2_1.0.pdf
PythonEquivalent/Data/WhiteNoise/stn_2_2.csv
PythonEquivalent/Data/WhiteNoise/stn_2_2.pdf
PythonEquivalent/Data/WhiteNoise/stn_2_4.csv
PythonEquivalent/Data/WhiteNoise/stn_2_4.pdf
PythonEquivalent/Data/WhiteNoise/stn_2_6.csv
PythonEquivalent/Data/WhiteNoise/stn_2_6.pdf
PythonEquivalent/Data/WhiteNoise/stn_2_8.csv
PythonEquivalent/Data/WhiteNoise/stn_2_8.pdf
PythonEquivalent/Data/WhiteNoise/stn_2_10.csv
PythonEquivalent/Data/WhiteNoise/stn_2_10.pdf
PythonEquivalent/Data/WhiteNoise/stn_2_12.csv
PythonEquivalent/Data/WhiteNoise/stn_2_12.pdf
PythonEquivalent/Data/WhiteNoise/stn_3_1.5.csv
PythonEquivalent/Data/WhiteNoise/stn_3_1.5.pdf
PythonEquivalent/Data/WhiteNoise/stn_3_3.csv
PythonEquivalent/Data/WhiteNoise/stn_3_3.pdf
PythonEquivalent/Data/WhiteNoise/stn_3_6.csv
PythonEquivalent/Data/WhiteNoise/stn_3_6.pdf
PythonEquivalent/Data/WhiteNoise/stn_3_9.csv
PythonEquivalent/Data/WhiteNoise/stn_3_9.pdf
PythonEquivalent/Data/WhiteNoise/stn_3_12.csv
PythonEquivalent/Data/WhiteNoise/stn_3_12.pdf
PythonEquivalent/Data/WhiteNoise/stn_3_15.csv
PythonEquivalent/Data/WhiteNoise/stn_3_15.pdf
PythonEquivalent/Data/WhiteNoise/stn_3_18.csv
PythonEquivalent/Data/WhiteNoise/stn_3_18.pdf
PythonEquivalent/Data/WhiteNoise/stn_4_2.0.csv
PythonEquivalent/Data/WhiteNoise/stn_4_2.0.pdf
PythonEquivalent/Data/WhiteNoise/stn_4_4.csv
PythonEquivalent/Data/WhiteNoise/stn_4_4.pdf
PythonEquivalent/Data/WhiteNoise/stn_4_8.csv
PythonEquivalent/Data/WhiteNoise/stn_4_8.pdf
PythonEquivalent/Data/WhiteNoise/stn_4_12.csv
PythonEquivalent/Data/WhiteNoise/stn_4_12.pdf
PythonEquivalent/Data/WhiteNoise/stn_4_16.csv
PythonEquivalent/Data/WhiteNoise/stn_4_16.pdf
PythonEquivalent/Data/WhiteNoise/stn_4_20.csv
PythonEquivalent/Data/WhiteNoise/stn_4_20.pdf
PythonEquivalent/Data/WhiteNoise/stn_4_24.csv
PythonEquivalent/Data/WhiteNoise/stn_4_24.pdf
PythonEquivalent/Data/WhiteNoise/stn_5_2.5.csv
PythonEquivalent/Data/WhiteNoise/stn_5_2.5.pdf
PythonEquivalent/Data/WhiteNoise/stn_5_5.csv
PythonEquivalent/Data/WhiteNoise/stn_5_5.pdf
PythonEquivalent/Data/WhiteNoise/stn_5_10.csv
PythonEquivalent/Data/WhiteNoise/stn_5_10.pdf
PythonEquivalent/Data/WhiteNoise/stn_5_15.csv
PythonEquivalent/Data/WhiteNoise/stn_5_15.pdf
PythonEquivalent/Data/WhiteNoise/stn_5_20.csv
PythonEquivalent/Data/WhiteNoise/stn_5_20.pdf
PythonEquivalent/Data/WhiteNoise/stn_5_25.csv
PythonEquivalent/Data/WhiteNoise/stn_5_25.pdf
PythonEquivalent/Data/WhiteNoise/stn_5_30.csv
PythonEquivalent/Data/WhiteNoise/stn_5_30.pdf
PythonEquivalent/functions/__pycache__/utils.cpython-310.pyc
PythonEquivalent/Linear_reservoir/__pycache__/__init__.cpython-310.pyc
PythonEquivalent/Linear_reservoir/__pycache__/test_data.cpython-310.pyc
PythonEquivalent/model/__pycache__/model_interface.cpython-310.pyc
PythonEquivalent/model/__pycache__/ssm_model.cpython-310.pyc
PythonEquivalent/model/__pycache__/utils_chain.cpython-310.pyc
